.auth__question {
    margin: 15px 0px 0px 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

@media all and (max-width: 600px) {
    .auth__question{
        margin: 20px 0px 0px 0px;
    }
}